body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    cursor: pointer;
    text-decoration: none;
}
.navs > li > a {
    text-decoration: none;
}


.logo {
    color: #4d5ae5;
    font-weight:700;
    font-size: 18px;
    line-height: 1.17;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo > span {
    color: #2E2F42;
}

.navs > li > a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    list-style-type: none;
}
.navs > li > a:focus{
    color: #404bbf;
}

.navs > li > a:hover {
    color: #404bbf;
}

.adds > ul > li > a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style-type: none;
}
.adds > ul > li > a:hover {
    color: #404bbf;
}

.adds>ul>li>a:focus {
    color: #404bbf;
}

.title-1 > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.buton {
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-shadow: 0 4 4;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
}

.buton:hover{
    background-color: #404BBF;
}

.buton:focus {
    background-color: #404BBF;
}

.stwo {
    background-color: #F4F4FD;;
}

.stwo-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.stwo-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.stwo > ul > li {
    list-style-type: none;
}

.sthree{
    background-color: #f4f4fd;
}

.sthree-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.sthree-3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.sthree-4 {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.sthree-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.sthree>ul>li {
    list-style-type: none;
}

.sfour-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.sfour-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.sfour-3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sfour>ul>li {
    list-style-type: none;
}

.foots {
    color:#F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    background-color: #2E2F42;
}

.foot-1{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}