.logo {
    cursor: pointer;
    text-decoration: none;
}
.navs > li > a {
    text-decoration: none;
}


.logob {
    color: #4d5ae5;
    font-weight:700;
    font-size: 18px;
    line-height: 21px;
    width: 44px;
    height: 21px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3%;
    text-decoration: none;
}
.logoi {
    color: #2E2F42;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        width: 71px;
        height: 21px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 3%;
        text-decoration: none;
}

.navs > li {
    width: 48px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
    list-style-type: none;
}

.adds > ul > li {
    width: 153px;
    height: 24px;
    top: 24px;
    left: 940px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    list-style-type: none;
}

.title {
    width: 496px;
    height: 120px;
    top: 260px;
    left: 472px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
    color: #FFFFFF;
    background-color: #2E2F42;
}

.buton {
    width: 169px;
    height: 56px;
    top: 428px;
    left: 636px;
    border-radius: 4px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-shadow: 0 4 4;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    font-family: 'Roboto', sans-serif;
}

.stwo {
    background-color: #F4F4FD;;
}
.stwo > h2 {
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
} 
.stwo > h3 {
    width: 264px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}
.stwo p {
    width: 264px;
    height: 72 px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.stwo > ul > li {
    list-style-type: none;
}

.sthree >h2 {
    width: 162px;
    height: 40px;
    top: 1136px;
    left: 639px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}

.sthree >h3 {
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}

.sthree p {
    width: 128px;
    height: 24 px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: center;
    color: #434455;
}

.sthree>ul>li {
    list-style-type: none;
}

.sfour>h2 {
    width: 218px;
    height: 40px;
    top: 1868px;
    left: 611px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}

.sfour>h3 {
    width: 118px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24/20;
    letter-spacing: 2%;
    color: #2E2F42;
}

.sfour p {
    width: 30px;
    height: 24 px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
}

.sfour>ul>li {
    list-style-type: none;
}

.foots {
    color:#F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    font-family: 'Roboto', sans-serif;
    background-color: #2E2F42;
}